@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@600&display=swap');
.html {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #1a1a1a;
    background-color: #ebeaea;
  }
.body {
    margin: auto;
    max-width: 100%;
    max-height: max-width * 1.5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
    hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
  }
  .container{
    width: 60vw; /* 80% of the viewport width */
    height: 90vw; /* Set height based on width */
    max-width: 21cm; /* Maximum width in centimeters (A4 width) */
    margin: auto; /* Center the container */
    background-color: #ffffff; /* Optional: Set a background color */
    padding: 20px; /* Optional: Add padding to the container */
    box-sizing: border-box; /* Include padding and border in the total width/height */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
  }
  .Section{
    font-size: 1.7vw;
    font-family: 'Lato', sans-serif;
  }
  #myElement {
    max-width: 100%;
  }
  .heading{
    font-size: 1.45vw;
    font-family: 'Raleway', sans-serif;
  }
  .quotes{
    font-size: 1.15vw;
    font-family: 'Raleway', sans-serif;
    color: #1a1a1a;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .texts{
    font-size: 1.15vw;
    font-family: 'Lato', sans-serif;
  }
  .column {
    float: left;
    width: 50%;
  }
  .column1{
    width : 40%;
  }
  .column2{
    width : 60%;
  }
  .name{
    font-size: 5vw;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  .contact_detail{
    font-size: 1.2vw;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  .divider{
    border-top: 1.5px solid #000000;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  p{
    margin: 0 0 0 0;
  }
  a {
    color: #1a1a1a;
  }
  a:visited {
    color: #1a1a1a;
  
  }
  .code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
  }
  .sourceCode {
   background-color: transparent;
   overflow: visible;
  }
  code{white-space: pre-wrap;}
  span.smallcaps{font-variant: small-caps;}
  div.columns{display: flex; gap: min(4vw, 1.5vw);}
  div.column{flex: auto; overflow-x: auto;}
  div.hanging-indent{margin-left: 1.5vw; text-indent: -1.5vw;}
  .display.math{display: block; text-align: center; margin: 0.5vw auto;}

  @media screen and ( max-width: 600px ) {
            .body {
                margin: auto;
                max-width: 100%;
                max-height: max-width * 1.5;
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 50px;
                padding-bottom: 50px;
               -webkit-hyphens: auto;
               -ms-hyphens: auto;
                hyphens: auto;
                hyphens: auto;
                overflow-wrap: break-word;
                text-rendering: optimizeLegibility;
                font-kerning: normal;

                    }
            .container{
            width: 60vw; /* 80% of the viewport width */
            height: 150%; /* Set height based on width */
            max-width: 21cm; /* Maximum width in centimeters (A4 width) */
            margin: auto; /* Center the container */
            background-color: #ffffff; /* Optional: Set a background color */
            padding: 20px; /* Optional: Add padding to the container */
            box-sizing: border-box; /* Include padding and border in the total width/height */
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            
            }
            .Section{
                font-size: 1.7vw;
                font-family: 'Lato', sans-serif;
              }
              #myElement {
                max-width: 100%;
              }
              .heading{
                font-size: 1.45vw;
                font-family: 'Raleway', sans-serif;
              }
              .quotes{
                font-size: 1.15vw;
                font-family: 'Raleway', sans-serif;
                color: #1a1a1a;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
              }
              .texts{
                font-size: 1.15vw;
                font-family: 'Lato', sans-serif;
              }
            .column {
            float: left;
            width: 50%;
            column-gap: 1vw;
            }
            .column1{
            width : 40%;
            }
            .column2{
            width : 60%;
            }
            .name{
            font-size: 3.5vw;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            font-family: 'Lato', sans-serif;
            text-align: center;
            }
            .contact_detail{
            font-size: 1.2vw;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            }
            .divider{
            border-top: 1.5px solid #000000;
            }
            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }
            p{
            margin: 0 0 0 0;
            }
            a {
            color: #1a1a1a;
            }
            a:visited {
            color: #1a1a1a;

            }
            .code {
            font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
            font-size: 85%;
            margin: 0;
            }
            .sourceCode {
            background-color: transparent;
            overflow: visible;
            }
            code{white-space: pre-wrap;}
            span.smallcaps{font-variant: small-caps;}
            div.columns{display: flex; gap: min(1.5vw, 1.5vw);}
            div.column{flex: auto; overflow-x: auto;}
            div.hanging-indent{margin-left: 1.5vw; text-indent: -1.5vw;}
            .display.math{display: block; text-align: center; margin: 0.5vw auto;}
        }
    @media print {
        body {
        background-color: transparent;
        color: black;
        font-size: 1vw;
        }
        h2, h3, h4 {
        page-break-after: avoid;
        }
    }

/*  Download Button  */
.button {
  position: relative;
  padding: 15px 45px;
  background: #ffffff;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #6e6c6b;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  margin: 3vw auto auto auto;
  left: 50%;
  transform: translateX(-50%);
}

.button:hover {
  border: 1px solid #6ae66a;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

button:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}
/* Social */
    .main_back {
      position: absolute;
      border-radius: 10px;
      transform: rotate(90deg);
      width: 11em;
      height: 11em;
      background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
      z-index: -2;
      box-shadow: inset 0px 0px 180px 5px #ffffff;
    }
    
    .main {
      display: flex;
      flex-wrap: wrap;
      width: 14em;
      align-items: center;
      justify-content: center;
      z-index: -1;
      margin: 3vw auto auto auto;
    }
    
    .card {
      width: 60px;
      height: 60px;
      border-top-left-radius: 10px;
      background: lightgrey;
      transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
      background: rgba(255, 255, 255, 0.596);
      backdrop-filter: blur(5px);
      border: 1px solid transparent;
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .card .instagram {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: #cc39a4;
    }
    
    .card:nth-child(2) {
      border-radius: 0px;
    }
    
    .card:nth-child(2) .twitter {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: #03A9F4;
    }
    
    .card:nth-child(3) {
      border-top-right-radius: 10px;
      border-top-left-radius: 0px;
    }
    
    .card:nth-child(3) .dribble {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: #ffb5d2;
    }
    
    .card:nth-child(4) {
      border-radius: 0px;
    }
    
    .card:nth-child(4) .codepen {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: black;
    }
    
    .card:nth-child(5) {
      border-radius: 0px;
    }
    
    .card:nth-child(5) .uiverse {
      position: absolute;
      margin-left: 0.2em;
      margin-top: 0.2em;
      opacity: 0;
      transition: .2s ease-in-out;
    }
    
    .card:nth-child(6) {
      border-radius: 0px;
    }
    
    .card:nth-child(6) .discord {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: #8c9eff;
    }
    
    .card:nth-child(7) {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 0px;
    }
    
    .card:nth-child(7) .github {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: black;
    }
    
    .card:nth-child(8) {
      border-radius: 0px;
    }
    
    .card:nth-child(8) .telegram {
      opacity: 0;
      transition: .2s ease-in-out;
      fill: #29b6f6;
    }
    
    .card:nth-child(9) {
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0px;
    }
    
    .card:nth-child(9) .reddit {
      opacity: 0;
      transition: .2s ease-in-out;
    }
    
    .main:hover {
      width: 14em;
      cursor: pointer;
    }
    
    .main:hover .main_back {
      opacity: 0;
    }
    
    .main:hover .card {
      margin: .2em;
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.2);
    }
    
    .main:hover .card:nth-child(5) {
      border: transparent;
    }
    
    .main:hover .text {
      opacity: 0;
      z-index: -3;
    }
    
    .main:hover .instagram {
      opacity: 1;
    }
    
    .main:hover .twitter {
      opacity: 1;
    }
    
    .main:hover .dribble {
      opacity: 1;
    }
    
    .main:hover .codepen {
      opacity: 1;
    }
    
    .main:hover .uiverse {
      opacity: 1;
    }
    
    .main:hover .discord {
      opacity: 1;
    }
    
    .main:hover .github {
      opacity: 1;
    }
    
    .main:hover .telegram {
      opacity: 1;
    }
    
    .main:hover .reddit {
      opacity: 1;
    }
    
    .card:nth-child(1):hover {
      background-color: #cc39a4;
    }
    
    .card:nth-child(1):hover .instagram {
      fill: white;
    }
    
    .card:nth-child(2):hover {
      background-color: #03A9F4;
    }
    
    .card:nth-child(2):hover .twitter {
      fill: white;
    }
    
    .card:nth-child(3):hover {
      background-color: #ffb5d2;
    }
    
    .card:nth-child(3):hover .dribble {
      fill: white;
    }
    
    .card:nth-child(4):hover {
      background-color: #1E1F26;
    }
    
    .card:nth-child(4):hover .codepen {
      fill: white;
    }
    
    .card:nth-child(5):hover {
      animation: backgroundIMG .1s;
      animation-fill-mode: forwards;
    }
    
    .card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
      stop-color: white;
    }
    
    .card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
      stop-color: white;
    }
    
    .card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
      stop-color: white;
    }
    
    @keyframes backgroundIMG {
      100% {
        background-image: linear-gradient(#BF66FF,#6248FF,#00DDEB);
      }
    }
    
    .card:nth-child(6):hover {
      background-color: #8c9eff;
    }
    
    .card:nth-child(6):hover .discord {
      fill: white;
    }
    
    .card:nth-child(7):hover {
      background-color: black;
    }
    
    .card:nth-child(7):hover .github {
      fill: white;
    }
    
    .card:nth-child(8):hover {
      background-color: #29b6f6;
    }
    
    .card:nth-child(8):hover .telegram > path:nth-of-type(1) {
      fill: white;
    }
    
    .card:nth-child(8):hover .telegram > path:nth-of-type(2) {
      fill: #29b6f6;
    }
    
    .card:nth-child(8):hover .telegram > path:nth-of-type(3) {
      fill: #29b6f6;
    }
    
    .card:nth-child(9):hover {
      background-color: rgb(255,69,0);
    }
    
    .card:nth-child(9) .reddit > g circle {
      fill: rgb(255,69,0);
    }
    
    .card:nth-child(9) .reddit > g path {
      fill: white;
    }
    
    .text {
      position: absolute;
      font-size: 0.7em;
      transition: .4s ease-in-out;
      color: black;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.33em;
      z-index: 3;
    }    